@charset "UTF-8";
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #555;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #f44236;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img .img-1 {
  opacity: 1;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.lib-two-img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  display: block;
  transition: all 0.5s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
}
.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
.lib-two-img-over .img-2 {
  opacity: 1;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/*===============================================
 [SASS DIRECTORY ]
 [1] BLOCK HEADER
 ==============================================*/
.common-home .typeheader-1 .header-bottom {
  border: none;
}
@media (min-width: 1199px) {
  
  .common-home .typeheader-1 .container-megamenu.vertical .vertical-wrapper {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    top: 55px;
  }
  .common-home .typeheader-1 .container-megamenu.vertical:hover .vertical-wrapper {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    top: 55px;
  }
}
.typeheader-1 {
  color: #fff;
  /*=====SEARCH ======*/
  /*BLOCK CART*/
  /*MENU MEGA*/
}
.typeheader-1.navbar-compact .header-middle {
  padding: 10px 0;
}
.typeheader-1 .header-top {
  background-color: #e53935;
  font-size: 12px;
  height: 39px;
  line-height: 39px;
}
.typeheader-1 .header-top .header-top-right {
  text-align: right;
}
.typeheader-1 .header-top .dropdown-menu li {
  line-height: 22px;
}
.typeheader-1 .header-top .header-top-right {
  display: inline-block;
}
@media (min-width: 1200px) {
  .typeheader-1 .header-top .container {
    width: 1170px;
    padding: 0;
  }
}
.typeheader-1 .header-top-left i {
  margin-right: 5px;
}
.typeheader-1 .header-middle {
  clear: both;
  padding: 20px 0;
}
.typeheader-1 .header-middle .middle2 {
  padding: 0;
}
.typeheader-1 .header-bottom {
  background-color: #fff;
  box-shadow: 1px 1px 1px 0.5px rgba(224, 224, 224, 0.22);
}
.typeheader-1 ul.top-link {
  list-style: none;
  margin: 0;
  vertical-align: top;
}
.typeheader-1 ul.top-link .dropdown-menu {
  left: auto;
  right: 0;
}
.typeheader-1 ul.top-link > li {
  float: left;
  position: relative;
  list-style: outside none none;
  padding-left: 18px;
  margin-left: 18px;
  padding-right: 0;
  font-size: 12px;
}
.typeheader-1 ul.top-link > li .btn-group .btn-link {
  padding: 0;
  border: none;
  color: #fff;
}
.typeheader-1 ul.top-link > li .fa-caret-down {
  font-size: 12px;
}
.typeheader-1 ul.top-link > li:after {
  background-color: rgba(255, 255, 255, 0.2);
  content: "";
  height: 11px;
  position: absolute;
  left: 0;
  top: 15px;
  width: 1px;
}
.typeheader-1 ul.top-link > li > a {
  font-size: 12px;
  color: #fff;
  padding-left: 3px;
}
.typeheader-1 ul.top-link > li.account > a {
  padding: 0;
  margin: 0;
}
.typeheader-1 ul.top-link > li.account:before {
  content: "\f007";
  font-family: FontAwesome;
  font-size: 12px;
}
.typeheader-1 ul.top-link > li.account:hover ul.dropdown-link {
  top: 34px;
  z-index: 9999;
  opacity: 1;
  border-top: 1px solid rgba(200, 199, 199, 0.3);
}
.typeheader-1 ul.top-link > li:first-child {
  padding-left: 0px;
  margin-left: 0px;
}
.typeheader-1 ul.top-link > li:first-child:after {
  display: none;
}
.typeheader-1 ul.middle-link {
  float: right;
  margin-right: 5px;
}
.typeheader-1 ul.middle-link li.wishlist a {
  text-indent: -999em;
  width: 40px;
  height: 40px;
  display: block;
  background: url("../../images/icon/sprites.png") no-repeat;
  background-position: -1px -58px;
}
.typeheader-1 ul.middle-link li.compare a {
  text-indent: -999em;
  width: 40px;
  height: 40px;
  display: block;
  background: url("../../images/icon/sprites.png") no-repeat;
  background-position: 0 0;
}
.typeheader-1 #sosearchpro .search {
  position: relative;
  float: right;
  background-color: #fff;
  padding: 5px 20px;
  /*border-radius: 21px;*/
  width: 100%;
  margin-bottom: 0;
}
.typeheader-1 #sosearchpro .search .icon-select {
  border: none;
  border-right: 1px solid #e1e1e1;
}
.typeheader-1 #sosearchpro .search .icon-select:after {
  content: "\f0d7";
  color: #232f3e;
  font-size: 14px;
  line-height: 30px;
}
.typeheader-1 #sosearchpro .search .select_category select {
  height: 30px;
  line-height: 30px;
  color: #232f3e;
  font-size: 13px;
}
.typeheader-1 #sosearchpro .search .select_category select:hover {
  cursor: pointer;
}
.typeheader-1 #sosearchpro .search .input-group-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  width: auto;
  height: 40px;
}
.typeheader-1 #sosearchpro .search button {
  position: relative;
  height: 40px;
  text-align: center;
  line-height: 40px;
  padding: 0 20px;
  font-size: 12px;
  color: #1c1c1c;
  text-transform: uppercase;
  background-color: #ffc107;
  /*border-radius: 21px;*/
}
.typeheader-1 #sosearchpro .search button i {
  font-size: 16px;
  margin: 0 0 0 10px;
}
.typeheader-1 #sosearchpro .search button:hover {
  color: #fff;
}
.typeheader-1 #sosearchpro .search input {
  border: none;
  border-radius: 3px;
  background-color: #fff;
  z-index: 0;
  height: 30px;
  padding-left: 20px;
  font-size: 12px;
  width: 100%;
  background-color: #fff;
}
.typeheader-1 .shopping_cart {
  float: right;
  position: relative;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #ffc107;
  background-repeat: no-repeat;
  background-position: 0 -150px;
  float: left;
}
@media (max-width: 991px) {
  .typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .icon-c {
    background: url("../../images/icon/ico-cart-mobile.png") no-repeat;
    background-color: transparent;
  }
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
  float: left;
  color: #fff;
  margin-left: 10px;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .text-shopping-cart {
  font-size: 14px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: 100%;
}
.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner .total-shopping-car {
  font-size: 12px;
}
.typeheader-1 .shopping_cart .dropdown-menu {
  top: 100%;
  right: -15px;
  left: auto;
  color: #666;
}
.typeheader-1 .shopping_cart .shoppingcart-box:before {
  right: 50px;
}
.typeheader-1 .megamenu-style-dev .navbar-default {
  background: transparent;
}
@media (min-width: 992px) {
  .typeheader-1 .container-megamenu.vertical {
    position: relative;
  }
  .typeheader-1 .container-megamenu.vertical .vertical-wrapper {
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }
  .typeheader-1 .container-megamenu.vertical:hover .vertical-wrapper {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    top: 55px;
  }
}
