table.table-cart tr td:first-child {
    text-align: left;
}
table {
    background-color: transparent;
    border: 1px solid #ddd;
}
table.table-cart tr td {
    padding: 40px;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 20px !important;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
table.table-cart tr td img {
    margin-right: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    width: 60px;
    height: 60px;
}
.plus-minus .input-group-btn:first-child>.btn {
    margin-right: 0;
    border-radius: 10px 0 0 10px;
}
.plus-minus .input-group-btn:last-child>.btn {
    margin-left: 0;
    border-radius: 0 10px 10px 0;
}
.plus-minus input {
    border: 1px solid #e8e8e8;
    color: #262626;
    padding-top: 5px;
    text-align: center;
    background: #fff;
    border-right: 0;
    border-left: 0;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
#total1 tr td{
    padding: 10px !important;
}
@media (max-width:1000px) {
    .input-number{
        width: 50px !important;
    }
}
