.woocommerce-message, .woocommerce-info, .woocommerce-error, .woocommerce-noreviews, p.no-comments {
    padding: 1em 1.618em;
    margin-bottom: 2.618em;
    background-color: #5cb85c;
    margin-left: 0;
    border-radius: 2px;
    color: #fff;
    clear: both;
    border-left: 0.618em solid rgba(0, 0, 0, 0.15);
}
.navbar-primary, .footer-newsletter, .button:hover::before, li.product:hover .button::before, li.product:hover .button, li.product:hover .added_to_cart::before, .owl-item .product:hover .button::before, .owl-item .product:hover .button, .owl-item .product:hover .added_to_cart::before, .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-pagination ul.page-numbers > li a.current, .woocommerce-pagination ul.page-numbers > li span.current, .pagination ul.page-numbers > li a.current, .pagination ul.page-numbers > li span.current, .owl-dots .owl-dot.active, .products-carousel-tabs .nav-link.active::before, .deal-progress .progress-bar, .products-2-1-2 .nav-link.active::before, .ad .ad-action > a::after, .header-v1 .navbar-search .input-group .btn, .header-v3 .navbar-search .input-group .btn, .vertical-menu > li:first-child, .widget.widget_tag_cloud .tagcloud a:hover, .widget.widget_tag_cloud .tagcloud a:focus, .navbar-mini-cart .cart-items-count, .wc-tabs > li.active a::before, .ec-tabs > li.active a::before, .electro-nav-tabs > li.nav-item a.active::before, .woocommerce-info, .woocommerce-noreviews, p.no-comments, .products-2-1-2 .nav-link:hover::before, .single_add_to_cart_button, .wpb-accordion .vc_tta.vc_general .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title > a:not(.collapsed):before, ul.products > li.product.list-view:not(.list-view-small) .button:hover, ul.products > li.product.list-view:not(.list-view-small) .button:focus, ul.products > li.product.list-view:not(.list-view-small) .button:active, ul.products > li.product.list-view.list-view-small .button:hover::after, ul.products > li.product.list-view.list-view-small .button:focus::after, ul.products > li.product.list-view.list-view-small .button:active::after, .widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-prev:hover, .widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-next:hover, .full-color-background .header-v3, .full-color-background .top-bar, .pace .pace-progress {
    background-color: #fed700;
}
.woocommerce-checkout h3 {
    font-size: 1.786em;
    line-height: 1.6em;
    display: block;
    padding-bottom: 0.400em;
    position: relative;
    margin-bottom: 1.360em;
    border-bottom: 1px solid #dadada;
}
h3.choose-shipping {
    margin-bottom: 0.36em !important;
}
.btn, .hero-action-btn, .button, button, input[type="button"], input[type="reset"], input[type="submit"] {
    font-size: 13px;
    border-radius: 1.571em;
    padding: 0.5em 2.134em;
    border-width: 0;
    display: inline-block;
    color: #ffffff;
    background-color: #f44336;
    border-color: #efecec;
}
#payment .payment_methods li {
    list-style: none !important;
    padding-bottom: 30px;
    padding-top: 20px;
    border-bottom: 1px dotted #ddd;
    margin-left: 0;
}
#payment .payment_methods {
    margin: 0 !important;
    border-bottom: 1px dotted #ddd;
    padding: 0 !important;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
* {
    box-sizing: border-box;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
#payment .place-order .button {
    font-size: 1.387em;
    width: 100%;
    white-space: pre-wrap;
}
.woocommerce-checkout-review-order-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.236rem;
}
.woocommerce-checkout h3::after {
    content: ' ';
    border-bottom: 2px solid transparent;
    display: block;
    width: 20%;
    border-color: #fd0909;
    position: absolute;
    bottom: -1px;
}
.page .entry-header {
    text-align: center;
    margin-bottom: 2.857em;
}
.page .entry-header h1 {
    font-size: 2.857em;
    letter-spacing: -0.025em;
    margin-bottom: 0;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, .input-text {
    padding: 8px 10px;
    background-color: transparent;
    color: #818181;
    line-height: 1.286em;
    outline: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: 1.571em;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    margin-bottom: 5px;
}
#payment .payment_methods {
    margin: 0 !important;
    border-bottom: 1px dotted #ddd;
    padding: 0 !important;
}
table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1.236rem;
}
table {
    border-spacing: 0;
    border-collapse: collapse;
    border-color: #e0e0e0;
    margin-bottom: 0px !important;
}
table th, table td {
    padding: 0.7rem;
    line-height: 1.5;
    vertical-align: top;
    border-top: 1px solid #eceeef;
}
#payment .terms {
    width: 100%;
    clear: both;
    float: none;
    margin-bottom: 0;
    margin-bottom: 1em;
}
.form-row {
    padding-left: 0;
    padding-right: 0;
}
#payment .terms input {
    display: inline-block;
    width: auto;
    float: left;
    margin: .327em .53em 0 0;
}
#payment .terms label {
    display: inline-block;
    margin-left: .618em;
}

.checkbox, .radio {
    position: relative;
    display: block;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
label {
    font-size: 1em;
    line-height: 1.286em;
    font-weight: bold;
    margin-bottom: 0.857em;
}