.woocommerce-breadcrumb {
    margin-top: 1.786em;
    margin-bottom: 1.571em;
}

.woocommerce-breadcrumb span.delimiter {
    margin: 0 1.429em;
}

.customer-login-form {
    position: relative;
}

.or-text {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(50%);
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ddd;
    font-style: italic;
    background-color: #fff;
    z-index: 1;
}

.col2-set .col-1, .col2-set .col-2 {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
}

#customer_login {
    padding: 2.5em 2.143em;
    position: relative;
}

.col2-set {
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
}

#customer_login .col-1 {
    padding-right: 6.071em;
}

#customer_login .col-2 {
    padding-left: 5.857em;
}

#customer_login .before-login-text, #customer_login .before-register-text {
    margin-bottom: 2.143em;
}

.customer-login-form form.register > p.form-row:nth-last-child(2) {
    margin-bottom: 3.571em;
}

#customer_login .register-benefits {
    clear: both;
}
#customer_login .register-benefits h3 {
    font-size: 1.286em;
    line-height: 1em;
    margin-bottom: 1.444em;
}
#customer_login .register-benefits ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#customer_login .register-benefits ul > li {
    line-height: 2.143em;
}

#content #primary {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.page-template-template-homepage-v1 #content #primary, .page-template-template-homepage-v3 #content #primary, .page-template-default #content #primary, .full-width #content #primary {
    padding-left: 0;
}

.customer-login-form h2 {
    font-size: 1.786em;
    line-height: 1.6em;
    display: block;
    padding-bottom: 0.400em;
    position: relative;
    margin-bottom: 1.360em;
    border-bottom: 1px solid #dadada;
}

input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, .input-text {
    padding: 8px 10px;
    background-color: transparent;
    color: #818181;
    line-height: 1.286em;
    outline: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: 1.571em;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    margin-bottom: 5px;
}

.col2-set .col-1, .col2-set .col-2 {
    width: 50%;
}

.form-row {
    padding-left: 0;
    padding-right: 0;
    font-size: 14px;
}
#customer_login::before {
    border-right: 1px solid #ddd;
    height: 100%;
    position: absolute;
    content: ' ';
    right: 50%;
    top: 0;
}
.before-login-text{
    word-wrap: break-word;
    font-size: 16px;
    letter-spacing: -0.01em;
}
.before-register-text{
    font-size: 16px;
}
#customer_login::after {
    content: "";
    display: table;
    clear: both;
}
.departments-menu .departments-menu-dropdown, .departments-menu .menu-item-has-children > .dropdown-menu, .widget_price_filter .ui-slider .ui-slider-handle:last-child, section header h1::after, section header .h1::after, .products-carousel-tabs .nav-link.active::after, section.section-product-cards-carousel header ul.nav .active .nav-link, section.section-onsale-product, section.section-onsale-product-carousel .onsale-product-carousel, .products-2-1-2 .nav-link.active::after, .products-6-1 header ul.nav .active .nav-link, .header-v1 .navbar-search .input-group .form-control, .header-v1 .navbar-search .input-group .input-group-addon, .header-v1 .navbar-search .input-group .btn, .header-v3 .navbar-search .input-group .form-control, .header-v3 .navbar-search .input-group .input-group-addon, .header-v3 .navbar-search .input-group .btn, .widget.widget_tag_cloud .tagcloud a:hover, .widget.widget_tag_cloud .tagcloud a:focus, .navbar-primary .navbar-mini-cart .dropdown-menu-mini-cart, .woocommerce-checkout h3::after, #customer_login h2::after, .customer-login-form h2::after, .navbar-primary .navbar-mini-cart .dropdown-menu-mini-cart, .woocommerce-edit-address form h3::after, .edit-account legend::after, .woocommerce-account h2::after, .address header.title h3::after, .addresses header.title h3::after, .woocommerce-order-received h2::after, .track-order h2::after, .wc-tabs > li.active a::after, .ec-tabs > li.active a::after, .electro-nav-tabs > li.nav-item a.active::after, .comments-title::after, .comment-reply-title::after, .pings-title::after, #reviews #comments > h2::after, .single-product .woocommerce-tabs ~ div.products > h2::after, .single-product .electro-tabs ~ div.products > h2::after, .cart-collaterals h2::after, .footer-widgets .widget-title:after, .sidebar .widget-title::after, .sidebar-blog .widget-title::after, .contact-page-title::after, #reviews:not(.electro-advanced-reviews) #comments > h2::after, .widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-prev:hover, .widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-next:hover, .wpb-accordion .vc_tta.vc_general .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title > a:not(.collapsed):before {
    border-color: #f34c40;
}
.customer-login-form h2::after {
    content: ' ';
    border-bottom: 2px solid transparent;
    display: block;
    width: 20%;
    position: absolute;
    bottom: -1px;
}
.form-row {
    position: relative;
    float: left;
    min-height: 1px;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    margin-bottom: 1.714em;
}
#customer_login .register-benefits ul > li::before {
    content: "\f00c";
    color: #f34c40;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.143em;
    display: inline-block;
    margin-right: 1em;
}
@media (max-width: 1000px) {
    .form-row {
        position: relative;
        float: left;
        min-height: 1px;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        width: 100%;
        margin-bottom: 1.714em;
    }
    .col2-set .col-1, .col2-set .col-2 {
        width: 100%;
    }
    #customer_login .col-2 {
        padding-left: 0em;
    }
    .or-text {
        position: absolute;
        right: 50%;
        top: 50%;
        transform: translate(50%);
        width: 50px;
        height: 50px;
        display: none;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #ddd;
        font-style: italic;
        background-color: #fff;
        z-index: 1;
    }
    #customer_login::before {
        border-right: 1px solid #ddd;
        height: 100%;
        position: absolute;
        content: ' ';
        display: none;
        right: 50%;
        top: 0;
    }
    #customer_login {
        padding: 0.5em 0.5em;
        position: relative;
    }
    #customer_login .col-1 {
        padding-right: 0em;
    }
}
.has-error .form-control {
    border-color: #eaeaea !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}