.checkout-cart .table-responsive .input-group {
    float: left;
}
.navbar-primary, .footer-newsletter, .button:hover::before, li.product:hover .button::before, li.product:hover .button, li.product:hover .added_to_cart::before, .owl-item .product:hover .button::before, .owl-item .product:hover .button, .owl-item .product:hover .added_to_cart::before, .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-pagination ul.page-numbers > li a.current, .woocommerce-pagination ul.page-numbers > li span.current, .pagination ul.page-numbers > li a.current, .pagination ul.page-numbers > li span.current, .owl-dots .owl-dot.active, .products-carousel-tabs .nav-link.active::before, .deal-progress .progress-bar, .products-2-1-2 .nav-link.active::before, .ad .ad-action > a::after, .header-v1 .navbar-search .input-group .btn, .header-v3 .navbar-search .input-group .btn, .vertical-menu > li:first-child, .widget.widget_tag_cloud .tagcloud a:hover, .widget.widget_tag_cloud .tagcloud a:focus, .navbar-mini-cart .cart-items-count, .wc-tabs > li.active a::before, .ec-tabs > li.active a::before, .electro-nav-tabs > li.nav-item a.active::before, .woocommerce-info, .woocommerce-noreviews, p.no-comments, .products-2-1-2 .nav-link:hover::before, .single_add_to_cart_button, .wpb-accordion .vc_tta.vc_general .vc_tta-panel .vc_tta-panel-heading .vc_tta-panel-title > a:not(.collapsed):before, ul.products > li.product.list-view:not(.list-view-small) .button:hover, ul.products > li.product.list-view:not(.list-view-small) .button:focus, ul.products > li.product.list-view:not(.list-view-small) .button:active, ul.products > li.product.list-view.list-view-small .button:hover::after, ul.products > li.product.list-view.list-view-small .button:focus::after, ul.products > li.product.list-view.list-view-small .button:active::after, .widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-prev:hover, .widget_electro_products_carousel_widget .section-products-carousel .owl-nav .owl-next:hover, .full-color-background .header-v3, .full-color-background .top-bar, .pace .pace-progress {
    background-color: #f44336;
}
.footer-newsletter {
    padding: 1.286em 0;
}
.footer-newsletter .newsletter-title {
    display: inline-block;
    font-size: 1.571em;
    margin-right: 25px;
    color: white;
    margin-bottom: 0;
}
.footer-newsletter form {
    margin-top: 2px;
}
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.input-group .form-control:active, .input-group .form-control:focus, .input-group .form-control:hover {
    z-index: 3;
}
.footer-newsletter input[type="text"] {
    padding: 1.04em 2em;
    background-color: #fff;
    border: 0;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], textarea, .input-text {
    padding: 8px 10px;
    background-color: transparent;
    color: #818181;
    line-height: 1.286em;
    outline: none;
    border: 0;
    -webkit-appearance: none;
    border-radius: 1.571em;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd;
    margin-bottom: 5px;
}
.form-control, .navbar-search .form-control, table.cart .coupon .input-text {
    font-size: 1.071em;
    line-height: 2em;
    border-radius: 1.467em;
    padding: 0.701em 1em;
    border-width: 0;
}
.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}
.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}





.corner {
    position: absolute;
    top: 0;
    left: 0px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 46px 0 0 20px;
    border-color: transparent transparent transparent #555;
}
















 


