@charset "UTF-8";
/*******************************************
 ***          SO Framework: Sass          ***
 *******************************************/
/* [2] */
/* [8] */
/*===============================================
 [SASS DIRECTORY ]
 [1] Minxin Link
 [2] Minxin Button
 [3] Minxin Triangle
 [4] Minxin LABEL PRODUCT
 [5] Minxin Scrollbars
 [6] Minxin Dev Custom
 ==============================================*/
.no-margin {
  margin: 0 !important;
}
/*Dev Custom */
/*====================================================*/
.lib-list-item-product2 {
  border: none;
}
.lib-list-item-product2 .image-dev .list-button-dev {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}
.lib-list-item-product2 .image-dev .list-button-dev li {
  display: inline-block;
  float: left;
  height: 40px;
  width: 40px;
  background: #fff;
  position: relative;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #ddd;
  opacity: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(40px);
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0.2s;
  z-index: 2;
}
.lib-list-item-product2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(-40px);
  -moz-transform: translateX(-40px);
  -webkit-transform: translateX(-40px);
  -ms-transform: translateX(-40px);
  z-index: 1;
  transition-delay: 0s;
}
.lib-list-item-product2 .image-dev .list-button-dev li:first-child {
  border-left: 1px solid #ddd;
}
.lib-list-item-product2 .image-dev .list-button-dev li a, .lib-list-item-product2 .image-dev .list-button-dev li button {
  background: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  line-height: 40px;
  text-align: center;
  box-shadow: none;
  border: none;
  color: #555;
  width: 40px;
  padding: 0;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover {
  background: #f44236;
}
.lib-list-item-product2 .image-dev .list-button-dev li:hover a, .lib-list-item-product2 .image-dev .list-button-dev li:hover button {
  color: #fff;
}
.lib-list-item-product2 .caption-dev {
  text-align: center;
  padding: 0 15px;
}
.lib-list-item-product2 .caption-dev .rating-dev {
  margin: 5px 0;
}
.lib-list-item-product2 .caption-dev .rating-dev .fa-stack-2x {
  font-size: 11px;
}
.lib-list-item-product2 .caption-dev .title-dev {
  color: #444;
  font-size: 13px;
}
.lib-list-item-product2 .caption-dev .price-dev .price.product-price {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-new {
  font-size: 16px;
}
.lib-list-item-product2 .caption-dev .price-dev .price-old {
  font-size: 12px;
}
.lib-list-item-product2 .caption-dev .add-cart-dev {
  background: #fff;
  border: 1px solid #ddd;
  font-size: 12px;
  text-transform: uppercase;
  color: #999;
  font-weight: bold;
  box-shadow: none;
  border-radius: 0;
  padding: 6px 20px;
  margin: 0 0 30px;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li {
  opacity: 1;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(1) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(2) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(3) {
  transition-delay: 0s;
}
.lib-list-item-product-over2 .image-dev .list-button-dev li:nth-child(4) {
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transition-delay: 0.2s;
}
/*EFECT PRODUCT NUMBER*/
.lib-two-img {
  position: relative;
  display: block;
}
.lib-two-img .img-1 {
  opacity: 1;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.lib-two-img .img-2 {
  position: absolute;
  z-index: 0;
  top: 0;
  opacity: 0;
  display: block;
  transition: all 0.5s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
}
.lib-two-img-over .img-1 {
  opacity: 0;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
.lib-two-img-over .img-2 {
  opacity: 1;
  transform-style: inherit;
  transition: all 0.5s ease-in-out;
}
/*EFFECT SLIDERHOME*/
@keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-webkit-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
@-moz-keyframes myeffect-slideshow {
  0% {
    opacity: 0;
    transform: translateY(-300px);
    -webkit-transform: translateY(-300px);
    -moz-transform: translateY(-300px);
    -ms-transform: translateY(-300px);
    -o-transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
/*   1.Large devices Desktops     ( Devices ≥1200px)
 *   2.Medium devices Desktops    (992px ≥ Devices ≥ 1199px)
 *   3.Small devices Tablets      (991px ≥ Devices ≥ 768px)
 *   4.Extra small devices Phones ( Devices < 767px)
 */
@media (max-width: 480px) {
  /************************************************************************************************
   BLOCK HEADER  
   ************************************************************************************************ */
  /*[] HEADER DEFFAULT []*/
  /*[] HEADER 1 []*/
  /*[] HEADER 2 []*/
  /*[] HEADER 3 []*/
  /* **********************************************************************************************
   BLOCK HOME PAGE
   *************************************************************************************************/
  /*[] LAYOUT 1 []*/
  /************************************************************************************************
   BLOCK FOOTER  
   *************************************************************************************************/
  /*[] FOOTER DEFFAULT []*/
  /************************************************************************************************
   PAGE LISTING  
   ************************************************************************************************ */
  /************************************************************************************************
   PAGE DETAIL  
   ************************************************************************************************ */
  /************************************************************************************************
   PAGE BONUSS  
   ************************************************************************************************ */
  /**********************
   POPUP LOGIN, NEWSLETTER
   ***********************************/
  /*=== popup categories -====*/
  .common-home .container {
    overflow: visible;
  }
  header .header-top-right ul.top-link > li.wishlist {
    display: none;
  }
  header .btn-shopping-cart .dropdown-menu {
    min-width: 300px;
  }
  body .banners > div a::after, body .banners > div a::before {
    display: none !important;
  }
  .layout-1 .deals-custom1 .so-deal .extraslider-inner .item .item-left {
    width: 100%;
  }
  .layout-1 .deals-custom1 .so-deal .extraslider-inner .item .item-right {
    margin-left: 0;
    padding: 15px;
    clear: both;
  }
  .layout-1 .deals-custom1 .so-deal .extraslider-inner .item .button-group .btn-button {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
  }
  .breadcrumbs .current-name {
    margin: 15px 0;
  }
  .breadcrumbs ul.breadcrumb {
    float: left;
    margin: 0 0 15px 0;
    width: 100%;
  }
  .products-list.list .product-layout .product-item-container {
    display: inline-block;
  }
  .products-list.list .product-layout .product-item-container .left-block {
    width: 100%;
  }
  .products-list.list .product-layout .product-item-container .right-block {
    margin-left: 0;
    margin-top: 20px;
    display: inline-block;
    padding: 0;
  }
  .products-list.list .product-layout .product-item-container .right-block .caption .ratings {
    position: static;
    margin-bottom: 10px;
  }
  .product-view .content-product-right .box-info-product .detail-action {
    margin-left: 0;
    margin-top: 20px;
    clear: both;
  }
  .producttab .tabsslider.horizontal-tabs .nav-tabs li a {
    display: inline-block;
    width: 100%;
    border: none;
  }
  .thumb-vertical-outer ul li .thumbnail.active {
    margin-top: 35%;
  }
  .product-view .content-product-right .share .socials-wrap ul li {
    margin-left: 25px;
  }
  .producttab .tabsslider.horizontal-tabs .nav-tabs li a::after {
    display: none;
  }
  .related-horizontal h3.modtitle span {
    font-size: 25px;
  }
  .thumb-vertical-outer {
    padding: 20px 0;
  }
  .product-view .content-product-right .countdown_box .countdown_inner .title {
    display: none;
  }
  .deals_module_wrapper .title-product {
    margin-top: 20px;
  }
  .producttab .tabsslider .nav-tabs li {
    float: none;
  }
  .product-view .content-product-right {
    margin-top: 20px;
  }
  .our-member .respl-item .w-image-box, .welcome-about-us .image-about-us {
    width: 100%;
    float: none;
    margin: 0;
    text-align: center;
  }
  .our-member .respl-item .info-member, .welcome-about-us .des-about-us {
    margin: 20px 0;
    text-align: justify;
  }
  .happy-about-us .happy-ab .title-happy-about h2 {
    font-size: 16px;
  }
  #sosearchpro .dropdown-menu {
    width: 292px !important;
  }
  .title-decimal {
    line-height: 100%;
  }
  .table-responsive.checkout-product {
    overflow-y: hidden;
  }
  .table-responsive {
    overflow-y: auto;
  }
  body .block-popup-login {
    width: 295px;
  }
  body .block-popup-login .block-content .col-reg {
    width: 100%;
  }
  body .block-popup-login .block-content .col-reg.registered-account {
    border-right: none;
  }
  body .block-popup-login .block-content .col-reg.login-customer {
    padding-left: 0;
  }
  .so-onepagecheckout .coupon-voucher input[type="text"] {
    width: 100%;
  }
  #so_popup_countdown .modal-dialog {
    background-color: #75bef3;
  }
  #so_popup_countdown .modal-footer img {
    width: 100%;
    display: none;
  }
  #so_popup_countdown .modal-footer #so_countdown_timer {
    top: 20px;
    left: 10px;
  }
  #so_popup_countdown .modal-footer #so_countdown_timer .time-item {
    width: 56px;
    height: 56px;
    line-height: 18px;
  }
}
@media (max-width: 767px) and (min-width: 481px) {
  /*=== popup categories -====*/
  .producttab .tabsslider.horizontal-tabs .nav-tabs li a {
    padding: 13px 30px;
  }
  .product-listing .products-list.grid .product-layout {
    width: 50%;
    float: left;
  }
  .product-listing .products-list.grid .visible-xs-block {
    display: none;
    clear: none;
  }
  .product-listing .products-list.grid .visible-xs-block:after {
    clear: none;
  }
  .common-home .deals-custom1 .so-deal .extraslider-inner .item .item-left .image a.img-link {
    padding: 25px 0;
  }
  .common-home .deals-custom1 .so-deal .extraslider-inner .item .button-group .btn-button {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
  }
  #so_popup_countdown .modal-dialog {
    width: 97% !important;
  }
  #so_popup_countdown .modal-footer img {
    width: 100%;
  }
  #so_popup_countdown .modal-footer #so_countdown_timer {
    top: 45px;
  }
}
@media (max-width: 767px) {
  /************************************************************************************************
   SHOW MORE CONTENT
   *************************************************************************************************/
  /************************************************************************************************
   BLOCK HEADER  
   ************************************************************************************************ */
  /*=== MENU ===*/
  /*=== MENU ===*/
  /*[] HEADER DEFAULT []*/
  /*[] HEADER 1 []*/
  /* **********************************************************************************************
   BLOCK HOME PAGE
   *************************************************************************************************/
  /*[] LAYOUT 1 []*/
  /* ***********************************************************************************************
   BLOCK FOOTER  
   *************************************************************************************************/
  /*[] FOOTER 1 []*/
  /************************************************************************************************
   PAGE LISTING  
   ************************************************************************************************ */
  /************************************************************************************************
   PAGE DETAIL  
   ************************************************************************************************ */
  /************************************************************************************************
   DEFTAULT MENU  
   ************************************************************************************************ */
  /*MEGA MENU*/
  /*MENU STIKY*/
  .product-image-zoom {
    pointer-events: none;
  }
  .common-home .container {
    overflow: visible;
    padding-left: 15px;
    padding-right: 15px;
  }
  .description-toggle {
    display: block !important;
    text-align: center;
    background-color: transparent;
    margin: 10px;
  }
  .description-toggle a {
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 400;
    color: #666;
  }
  .description-toggle a:hover, .description-toggle a:focus, .description-toggle a:active {
    color: #f44236;
    background-color: transparent;
    box-shadow: none;
  }
  .description-toggle a.active .toggle-less {
    display: block;
  }
  .description-toggle a.active .toggle-more {
    display: none;
  }
  .description-toggle a .toggle-less {
    display: none;
  }
  .description-toggle a .toggle-more {
    display: block;
  }
  .description-has-toggle {
    position: relative;
    overflow: hidden;
  }
  .description-has-toggle.in {
    max-height: none;
    overflow: visible;
    display: block !important;
  }
  .description-has-toggle.in:before {
    display: none;
  }
  .description-has-toggle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(33, 33, 33, 0)), to(#212121));
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0) 50%, #212121 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0) 50%, #212121 100%);
  }
  .footer-main {
    min-height: 200px;
    max-height: 200px;
    display: block;
  }
  #content ul.megamenu li.active .sub-menu .content, header ul.megamenu li.active .sub-menu .content {
    padding-bottom: 10px;
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li {
    border-bottom: none;
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover {
    background-color: transparent;
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore {
    border-radius: 0;
    padding: 5px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore .more-view, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore .more-view {
    font-size: 12px;
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore i, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore i {
    padding-left: 0;
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore .more-view, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore .more-view {
    color: #ddd;
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a {
    font-size: 12px;
  }
  #content .container-megamenu.horizontal ul.megamenu > li, header .container-megamenu.horizontal ul.megamenu > li {
    margin-right: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li .main-menu {
    margin: 0;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu ul li {
    padding: 0;
  }
  .container-megamenu.horizontal .sub-menu .content-feature li, .container-megamenu.horizontal .sub-menu .demo-detail ul li {
    width: 40%;
    margin-right: 10%;
    margin-bottom: 10px;
  }
  .container-megamenu.horizontal .sub-menu .content-feature li span, .container-megamenu.horizontal .sub-menu .demo-detail ul li span {
    line-height: 20px;
    margin: 10px 0;
  }
  .container-megamenu.horizontal .sub-menu .content-feature li:last-child, .container-megamenu.horizontal .sub-menu .demo-detail ul li:last-child {
    clear: both;
  }
  .responsive ul.megamenu .item-style1 .sub-menu .content .row > div {
    border: none;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.style1 .categories {
    padding: 0px;
  }
  .typeheader-1 .container-megamenu.horizontal ul.megamenu > li {
    padding: 0;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.style1 .categories {
    padding: 0px;
  }
  .megamenu-style-dev.responsive ul.megamenu .sub-menu .content .row > div {
    border: none;
    padding-top: 0;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.menu-layouts .sub-menu .item-layouts .col-md-4 {
    margin-bottom: 0 !important;
  }
  header .header-center {
    height: auto;
  }
  header .navbar-logo {
    text-align: center;
  }
  header.typeheader-1 .container-megamenu.horizontal ul.megamenu > li.special-2, header.typeheader-1 .container-megamenu.horizontal ul.megamenu > li.special-offer {
    display: none;
  }
  header.typeheader-1 .header-bottom {
    margin-bottom: 20px;
  }
  header.typeheader-1 .logo {
    text-align: center;
  }
  header.typeheader-1 .search-header-w {
    position: relative;
    top: 23px;
    z-index: 99;
  }
  header.typeheader-1 .search-header-w .icon-search {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  header.typeheader-1 .search-header-w .icon-search i {
    font-size: 18px;
    color: #fff;
  }
  header.typeheader-1 .search-header-w .icon-search.active i::before {
    content: "\f00d";
  }
  header.typeheader-1 .search-header-w .icon-search:hover {
    cursor: pointer;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    margin-right: 0;
    z-index: 999;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search input {
    width: 270px;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search {
    padding: 0;
    width: 270px;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search .icon-select {
    display: none;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search .select_category select {
    display: none;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search .input-group-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    height: 40px;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search button {
    position: relative;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
    font-size: 12px;
    color: #1c1c1c;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 3px;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search button i {
    font-size: 16px;
    margin: 0 0 0 10px;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search input {
    width: 270px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    z-index: 0;
    height: 40px;
    padding-left: 20px;
    font-size: 12px;
    background-color: #fff;
  }
  header.typeheader-1 .shopping_cart {
    margin-right: 40px;
    top: 21px;
    z-index: 99;
  }
  header.typeheader-1 .shopping_cart .dropdown-menu {
    margin-right: 0 !important;
    right: -40px;
  }
  header.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
    display: none;
  }
  header.typeheader-1 .header-bottom {
    background-color: #e53935;
  }
  header.typeheader-1 .middle2, header.typeheader-1 .middle-right {
    height: 0;
  }
  .layout-1.common-home #content .module h3.modtitle {
    font-size: 13px;
  }
  .common-home.layout-1 .custom-slider {
    padding: 0 15px;
  }
  .common-home.layout-1 .module.sohomepage-slider {
    float: none;
    margin: 0 auto;
  }
  .common-home.layout-1 .module.sohomepage-slider .so-homeslider img {
    width: 100%;
  }
  .common-home.layout-1 .block-policy .item-3, .common-home.layout-1 .block-policy .item-1, .common-home.layout-1 .block-policy .item-2 {
    margin-bottom: 10px;
  }
  .common-home.layout-1 .block-policy .item .item-inner .icon {
    width: 65px;
  }
  .common-home.layout-1 .deals3 .so-deal .extraslider-inner .product-thumb.first-item {
    margin-bottom: 30px;
  }
  .common-home.layout-1 .deals3 .so-deal .extraslider-inner .product-thumb.first-item .product-item-container .right-block .caption h4 a {
    font-size: 13px;
  }
  .common-home.layout-1 .banner2 {
    margin-top: 40px;
    margin-bottom: 0;
  }
  .common-home.layout-1 .banner3 {
    display: none;
  }
  .common-home.layout-1 .newsletter {
    margin-bottom: 40px;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
  }
  .common-home.layout-1 .blog-w {
    margin-top: 10px;
  }
  footer.typefooter-1 .footer-toplinks .links {
    line-height: 20px;
  }
  footer.typefooter-1 .footer-bottom {
    text-align: center;
  }
  footer.typefooter-1 .footer-bottom .copyright {
    margin-bottom: 10px;
  }
  footer.typefooter-1 .footer-bottom .payment-w img {
    float: none;
  }
  .current-name {
    font-size: 20px;
  }
  aside.left_column {
    margin-bottom: 30px;
  }
  .products-category .product-compare {
    margin: 10px 0 0 0 !important;
  }
  .product-view .content-product-right {
    margin-top: 30px;
  }
  .product-simple .so-extraslider .extraslider-inner .item .item-inner {
    width: 100%;
  }
  .content-aside .product-simple .so-extraslider .extraslider-inner .owl2-item .item {
    display: inline-block;
  }
  .content-aside .product-simple .so-extraslider .extraslider-inner .owl2-item .item .item-inner {
    width: 100%;
  }
  .producttab .tabsslider.horizontal-tabs .tab-content {
    padding: 30px;
  }
  .thumb-vertical-outer {
    padding: 20px 0;
  }
  .bg-page-404 {
    overflow: hidden;
  }
  .style-dev-so-deals .so-deal .extraslider-inner.item-inner-dev .image-dev .list-button-dev li.so-quickview {
    display: none;
  }
  #content .filter-horizontal ul {
    display: block;
  }
  #content .filter-horizontal li.so-filter-options {
    width: 100%;
    border: none;
  }
  .zoomContainer {
    display: none;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu {
    border: none !important;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical .sub-menu .content {
    padding: 20px !important;
  }
  .megamenu-style-dev {
    /*z-index: 999;*/
  }
  .megamenu-style-dev .container-megamenu.horizontal ul.megamenu > li > a strong img, .megamenu-style-dev .container-megamenu.vertical:after {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical #menuHeading {
    display: none !important;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu {
    right: 0 !important;
    left: auto;
  }
  .megamenu-style-dev.responsive #remove-megamenu {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
  }
  .megamenu-style-dev.responsive .so-megamenu-active #remove-megamenu {
    color: #fff;
  }
  .megamenu-style-dev.responsive .megamenu-wrapper {
    border: none;
    border-radius: 0;
  }
  .megamenu-style-dev.responsive div[class^=col-] {
    width: 100%;
  }
  .megamenu-style-dev.responsive ul.megamenu > li {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1px 0;
    overflow: hidden;
  }
  .megamenu-style-dev.responsive ul.megamenu > li a {
    line-height: 25px;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.click:before, .megamenu-style-dev.responsive ul.megamenu > li.hover:before {
    padding: 0 !important;
    font-size: 14px;
    background: #666;
    color: #fff;
    border: 1px solid #6a6d71;
    width: 30px;
    line-height: 30px;
    height: 32px;
    display: inline-block;
    text-align: center;
    margin-top: -1px;
    right: 0;
    left: auto;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.click:hover:before, .megamenu-style-dev.responsive ul.megamenu > li.hover:hover:before {
    cursor: pointer;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active {
    padding: 0;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .sub-menu {
    display: block !important;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active > a {
    background: #222 !important;
    color: #fff;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu {
    padding: 0;
    width: 30px;
    line-height: 30px;
    background: #33363a;
    height: auto;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu:before {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
  }
  .megamenu-style-dev.responsive .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content {
    box-shadow: none;
    border: 1px solid #eee;
    padding: 20px;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-header {
    float: right;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-toggle {
    margin: 0px;
    height: 40px;
    color: #fff;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    float: right;
    cursor: pointer;
    padding: 0px;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar {
    background: #fff;
    width: 20px;
    height: 2px;
    margin: 4px 0;
    border-radius: 0;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper {
    background: #333 !important;
    padding: 20px !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li.active > a {
    padding: 0 10px !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a {
    color: #fff !important;
    padding: 0 !important;
    font-size: 14px;
    line-height: 29px !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a:hover {
    color: #f44236;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content .title-submenu {
    padding: 0;
    margin: 0;
    border: none;
  }
  .megamenu-style-dev .navbar-default .horizontal .features-menu .column.layout-color a {
    display: inline-block;
  }
  .megamenu-style-dev .navbar-default .horizontal .features-menu .column a {
    margin: 0 0 30px;
    display: block;
  }
  .megamenu-style-dev .navbar-default .vertical #menuHeading {
    display: block;
    margin: 0;
  }
  .megamenu-style-dev .navbar-default .vertical ul.megamenu {
    position: relative;
    background: transparent;
  }
  .megamenu-style-dev .navbar-default .vertical ul.megamenu > li {
    background: transparent;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header {
    position: relative;
    top: 8px;
    left: 40px;
    z-index: 99;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .title-navbar {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: none;
    float: left;
    background-color: transparent !important;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle .fa-bars:before {
    font-size: 18px;
    color: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle .icon-bar {
    background: #fff;
    width: 12px;
    height: 2px;
    margin-top: 2px;
    border-radius: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle:hover {
    color: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical #remove-verticalmenu {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper {
    position: fixed;
    background: #333 !important;
    padding: 20px !important;
    width: 280px;
    max-height: 100%;
    top: 0;
    z-index: 99;
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper.so-vertical-active {
    display: block !important;
    opacity: 1;
    visibility: visible;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.vertical-style3 .content .image-position {
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    position: relative;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li:before {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li .main-menu {
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li a:hover {
    color: #f44236;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li:hover > a {
    color: #f44236;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li ul {
    box-shadow: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li ul li {
    padding: 5px 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu li .sub-menu .content {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.vertical-style1 .content {
    padding: 15px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li b {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a {
    padding: 3px 0;
    background: transparent !important;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a strong {
    color: #ddd;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li a {
    line-height: inherit;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:before {
    font-size: 14px;
    color: #ddd;
    height: 32px;
    line-height: 32px;
    width: 30px;
    background: #666;
    text-align: center;
    cursor: pointer;
    border: 1px solid #6a6d71;
    padding: 0 !important;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:hover:before {
    color: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active {
    background: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu {
    background: #666;
    font-size: 14px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu:before {
    color: #ddd;
    line-height: 31px;
  }
  .module.so-latest-blog.slider-post-sidebar .so-blog-external .blog-external .media .so-block {
    margin-right: 20px;
  }
  header.navbar-compact {
    display: none;
  }
  header .horizontal ul.megamenu > li > .sub-menu {
    border: none;
  }
  #wrapper {
    overflow-x: hidden;
  }
  ul.megamenu li.active .sub-menu .content {
    padding: 0 10px;
  }
  #sosearchpro.search-pro .input-group .autosearch-input {
    padding: 0 40px 0 20px;
  }
  .navbar-toggle {
    margin-left: 15px;
    margin-right: 0;
  }
  .simple_blog-article .product-filter {
    display: none;
  }
  #so_popup_countdown {
    display: none !important;
  }
  .modal-backdrop.in {
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .product-search .content-main #input-search {
    margin-bottom: 10px;
  }
  .hidden-scorll {
    overflow: auto;
  }
  .breadcrumbs .current-name {
    font-size: 14px;
  }
  .so-fb-message {
    display: none !important;
  }
  .product-filter-bottom .text-right {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /************************************************************************************************
   SHOW MORE CONTENT
   *************************************************************************************************/
  /************************************************************************************************
   BLOCK HEADER  
   ************************************************************************************************ */
  /*=== MENU ===*/
  /*=== MENU ===*/
  /*[] HEADER 1 []*/
  /* **********************************************************************************************
   BLOCK HOME PAGE
   *************************************************************************************************/
  /*[] LAYOUT 1 []*/
  /*[] LAYOUT 2 []*/
  /*[] LAYOUT 3 []*/
  /* ***********************************************************************************************
   BLOCK FOOTER  
   *************************************************************************************************/
  /*[] FOOTER DEFAULT []*/
  /*[] FOOTER 1 []*/
  /************************************************************************************************
   PAGE LISTING  
   ************************************************************************************************ */
  /************************************************************************************************
   PAGE DETAIL 
   ************************************************************************************************ */
  /************************************************************************************************
   DEFTAULT MENU  
   ************************************************************************************************ */
  /*MEGA MENU*/
  /*MENU STIKY*/
  /************************************************************************************************
   PAGE BONUS  
   *************************************************************************************************/
  /*.banner-left{
   display: none;
   }*/
  .common-home .container {
    overflow: visible;
    padding-left: 15px;
    padding-right: 15px;
  }
  .description-toggle {
    display: block !important;
    text-align: center;
    background-color: transparent;
    margin: 10px;
  }
  .description-toggle a {
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 400;
    color: #666;
  }
  .description-toggle a:hover, .description-toggle a:focus, .description-toggle a:active {
    color: #f44236;
    background-color: transparent;
    box-shadow: none;
  }
  .description-toggle a.active .toggle-less {
    display: block;
  }
  .description-toggle a.active .toggle-more {
    display: none;
  }
  .description-toggle a .toggle-less {
    display: none;
  }
  .description-toggle a .toggle-more {
    display: block;
  }
  .description-has-toggle {
    position: relative;
    overflow: hidden;
  }
  .description-has-toggle.in {
    max-height: none;
    overflow: visible;
    display: block !important;
  }
  .description-has-toggle.in:before {
    display: none;
  }
  .description-has-toggle:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 1;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(33, 33, 33, 0)), to(#212121));
    background: -webkit-linear-gradient(top, rgba(33, 33, 33, 0) 50%, #212121 100%);
    background: linear-gradient(to bottom, rgba(33, 33, 33, 0) 50%, #212121 100%);
  }
  .footer-main {
    min-height: 200px;
    max-height: 200px;
    display: block;
  }
  #content ul.megamenu li.active .sub-menu .content, header ul.megamenu li.active .sub-menu .content {
    padding-bottom: 10px;
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li {
    border-bottom: none;
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li:hover {
    background-color: transparent;
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore {
    border-radius: 0;
    padding: 5px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore .more-view, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore .more-view {
    font-size: 12px;
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore i, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore i {
    padding-left: 0;
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore .more-view, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li.loadmore .more-view {
    color: #ddd;
  }
  #content .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a, header .container-megamenu.vertical .vertical-wrapper ul.megamenu > li > a {
    font-size: 12px;
  }
  #content .container-megamenu.horizontal ul.megamenu > li, header .container-megamenu.horizontal ul.megamenu > li {
    margin-right: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li .main-menu {
    margin: 0;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu ul li {
    padding: 0;
  }
  .container-megamenu.horizontal .sub-menu .content-feature li, .container-megamenu.horizontal .sub-menu .demo-detail ul li {
    width: 40%;
    margin-right: 10%;
    margin-bottom: 10px;
  }
  .container-megamenu.horizontal .sub-menu .content-feature li span, .container-megamenu.horizontal .sub-menu .demo-detail ul li span {
    line-height: 20px;
    margin: 10px 0;
  }
  .container-megamenu.horizontal .sub-menu .content-feature li:last-child, .container-megamenu.horizontal .sub-menu .demo-detail ul li:last-child {
    clear: both;
  }
  .responsive ul.megamenu .item-style1 .sub-menu .content .row > div {
    border: none;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical.style1 .categories {
    padding: 0px;
  }
  .megamenu-style-dev.responsive ul.megamenu .sub-menu .content .row > div {
    border: none;
    padding-top: 0;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.menu-layouts .sub-menu .item-layouts .col-md-4 {
    margin-bottom: 0 !important;
  }
  header.typeheader-1 .container-megamenu.horizontal ul.megamenu > li.special-2, header.typeheader-1 .container-megamenu.horizontal ul.megamenu > li.special-offer {
    display: none;
  }
  header.typeheader-1 .header-bottom {
    margin-bottom: 20px;
  }
  header.typeheader-1 .logo {
    text-align: center;
  }
  header.typeheader-1 .search-header-w {
    position: relative;
    top: 23px;
    z-index: 99;
  }
  header.typeheader-1 .search-header-w .icon-search {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }
  header.typeheader-1 .search-header-w .icon-search i {
    font-size: 18px;
    color: #fff;
  }
  header.typeheader-1 .search-header-w .icon-search.active i::before {
    content: "\f00d";
  }
  header.typeheader-1 .search-header-w .icon-search:hover {
    cursor: pointer;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    margin-right: 0;
    z-index: 999;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search input {
    width: 270px;
    border: 1px solid #eaeaea;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search {
    padding: 0;
    width: 270px;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search .icon-select {
    display: none;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search .select_category select {
    display: none;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search .input-group-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    width: auto;
    height: 40px;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search button {
    position: relative;
    height: 40px;
    text-align: center;
    line-height: 40px;
    padding: 0 20px;
    font-size: 12px;
    color: #1c1c1c;
    text-transform: uppercase;
    background-color: transparent;
    border-radius: 3px;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search button i {
    font-size: 16px;
    margin: 0 0 0 10px;
  }
  header.typeheader-1 .search-header-w #sosearchpro .search input {
    width: 270px;
    border: none;
    border-radius: 3px;
    background-color: #fff;
    z-index: 0;
    height: 40px;
    padding-left: 20px;
    font-size: 12px;
    background-color: #fff;
  }
  header.typeheader-1 .shopping_cart {
    margin-right: 50px;
    top: 21px;
    z-index: 99;
  }
  header.typeheader-1 .shopping_cart .dropdown-menu {
    margin-right: 0;
    right: -40px;
  }
  header.typeheader-1 .shopping_cart .btn-shopping-cart .top_cart .shopcart-inner {
    display: none;
  }
  header.typeheader-1 .header-bottom {
    background-color: #e53935;
  }
  header.typeheader-1 .middle2, header.typeheader-1 .middle-right {
    height: 0;
  }
  .common-home.layout-1 .product-simple .so-extraslider .extraslider-inner .item .item-inner {
    width: 50%;
    float: left;
  }
  .layout-1 .custom-slider {
    padding: 0 15px;
  }
  .layout-1 .module.sohomepage-slider {
    float: none;
    margin: 0 auto;
  }
  .layout-1 .module.sohomepage-slider .so-homeslider img {
    width: 100%;
  }
  .layout-1 .block-policy .item .item-inner .icon {
    width: 65px;
  }
  .layout-1 .block-policy .item-1, .layout-1 .block-policy .item-2 {
    margin-bottom: 10px;
  }
  .layout-1 .deals-custom1 .so-deal .extraslider-inner .item .item-left {
    width: 130px;
  }
  .layout-1 .deals-custom1 .so-deal .extraslider-inner .item .item-left .image a.img-link {
    padding: 25px 0;
  }
  .layout-1 .deals-custom1 .so-deal .extraslider-inner .item .item-right {
    margin-left: 145px;
    padding-top: 10px;
  }
  .layout-1 .deals-custom1 .so-deal .extraslider-inner .item .button-group .btn-button {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
  }
  .layout-1 .banner2 {
    margin-top: 40px;
    margin-bottom: 0;
  }
  .layout-1 .banner3 {
    display: none;
  }
  .layout-1 .newsletter {
    margin-bottom: 40px;
  }
  .layout-1 .blog-w {
    margin-top: 10px;
  }
  footer.typefooter-1 ul.socials li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  footer.typefooter-1 .apps {
    margin: 0 -10px;
  }
  footer.typefooter-1 .apps li {
    width: 50%;
    float: left;
    padding: 0 10px;
  }
  footer.typefooter-1 .apps li img {
    width: 100%;
  }
  footer.typefooter-1 .footer-toplinks .links {
    line-height: 20px;
  }
  footer.typefooter-1 .footer-bottom {
    text-align: center;
  }
  footer.typefooter-1 .footer-bottom .copyright {
    margin-bottom: 10px;
  }
  footer.typefooter-1 .footer-bottom .payment-w img {
    float: none;
  }
  .module.so_filter_wrap .modcontent .so-filter-content-opts-container .put-min_max {
    width: 100%;
    margin-bottom: 5px;
  }
  .module.so_filter_wrap .modcontent .so-filter-option.so-filter-price .content_min_max .input_max, .module.so_filter_wrap .modcontent .so-filter-option.so-filter-price .content_min_max .input_min {
    width: 60px;
    min-width: 60px;
    padding-left: 3px !important;
  }
  .filters-panel .short-by-show.text-center .form-group {
    display: block;
  }
  aside.left_column {
    margin-bottom: 30px;
  }
  .thumb-vertical-outer {
    padding: 20px 0;
  }
  .short-by-show .form-group {
    float: left;
  }
  .so-filter-price .put-min_max .name-curent {
    display: inline-block;
    float: left;
    line-height: 30px;
  }
  .so-filter-price .put-min_max .form-control {
    width: 60px;
    line-height: 30px;
    padding: 0 !important;
    margin: 0 !important;
    height: 30px;
    min-width: 60px;
  }
  #product-quick .product-view .content-product-right {
    margin-top: 0px;
  }
  .product-view .content-product-right {
    margin-top: 40px;
  }
  .product-simple .so-extraslider .extraslider-inner .item .item-inner {
    width: 100%;
  }
  .content-aside .product-simple .so-extraslider .extraslider-inner .owl2-item .item {
    display: inline-block;
  }
  .content-aside .product-simple .so-extraslider .extraslider-inner .owl2-item .item .item-inner {
    width: 100%;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu {
    border: none !important;
  }
  .container-megamenu.vertical .vertical-wrapper ul.megamenu .item-vertical .sub-menu .content {
    padding: 10px !important;
  }
  .megamenu-style-dev .container-megamenu.horizontal ul.megamenu > li > a strong img, .megamenu-style-dev .container-megamenu.vertical:after {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical #menuHeading {
    display: none !important;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu {
    right: 0;
    left: auto;
  }
  .megamenu-style-dev.responsive #remove-megamenu {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
  }
  .megamenu-style-dev.responsive .so-megamenu-active #remove-megamenu {
    color: #fff;
  }
  .megamenu-style-dev.responsive .megamenu-wrapper {
    border: none;
    border-radius: 0;
  }
  .megamenu-style-dev.responsive div[class^=col-] {
    width: 100%;
  }
  .megamenu-style-dev.responsive ul.megamenu > li {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1px 0;
    overflow: hidden;
  }
  .megamenu-style-dev.responsive ul.megamenu > li a {
    line-height: 25px;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.click:before, .megamenu-style-dev.responsive ul.megamenu > li.hover:before {
    padding: 0 !important;
    font-size: 14px;
    background: #666;
    color: #fff;
    border: 1px solid #6a6d71;
    width: 30px;
    line-height: 30px;
    height: 32px;
    display: inline-block;
    text-align: center;
    margin-top: -1px;
    right: 0;
    left: auto;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.click:hover:before, .megamenu-style-dev.responsive ul.megamenu > li.hover:hover:before {
    cursor: pointer;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active {
    padding: 0;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .sub-menu {
    display: block !important;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active > a {
    background: #222 !important;
    color: #fff;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu {
    padding: 0;
    width: 30px;
    line-height: 30px;
    background: #33363a;
    height: auto;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu:before {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
  }
  .megamenu-style-dev.responsive .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content {
    box-shadow: none;
    border: 1px solid #eee;
    padding: 20px;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-header {
    float: right;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-toggle {
    margin: 0px;
    height: 40px;
    color: #fff;
    border-radius: 4px;
    background-color: transparent;
    border: none;
    float: right;
    cursor: pointer;
    padding: 0px;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar {
    background: #fff;
    width: 20px;
    height: 2px;
    margin: 4px 0;
    border-radius: 0;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper {
    max-height: 100% !important;
    background: #333 !important;
    padding: 20px !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li.active > a {
    padding: 0 10px !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a {
    color: #fff !important;
    padding: 0 !important;
    font-size: 14px;
    line-height: 29px !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a:hover {
    color: #f44236;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content .title-submenu {
    padding: 0;
    margin: 0;
    border: none;
  }
  .megamenu-style-dev .navbar-default .horizontal .features-menu .column.layout-color a {
    display: inline-block;
  }
  .megamenu-style-dev .navbar-default .horizontal .features-menu .column a {
    margin: 0 0 30px;
    display: block;
  }
  .megamenu-style-dev .navbar-default .vertical #menuHeading {
    display: block;
    margin: 0;
  }
  .megamenu-style-dev .navbar-default .vertical ul.megamenu {
    position: relative;
    background: transparent;
  }
  .megamenu-style-dev .navbar-default .vertical ul.megamenu > li {
    background: transparent;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header {
    position: relative;
    top: 10px;
    left: 40px;
    z-index: 99;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .title-navbar {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent !important;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle .fa-bars:before {
    font-size: 18px;
    content: '\f036';
    color: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle .icon-bar {
    background: #fff;
    width: 12px;
    height: 2px;
    margin-top: 2px;
    border-radius: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle:hover {
    color: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical #remove-verticalmenu {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper {
    position: fixed;
    background: #333 !important;
    padding: 20px !important;
    width: 280px;
    max-height: 100%;
    top: 0;
    z-index: 99;
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper.so-vertical-active {
    display: block !important;
    opacity: 1;
    visibility: visible;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.vertical-style3 .content .image-position {
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    position: relative;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li:before {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li .main-menu {
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li a:hover {
    color: #f44236;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li:hover > a {
    color: #f44236;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li ul {
    box-shadow: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu li .sub-menu .content {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.vertical-style1 .content {
    padding: 15px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li b {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a {
    padding: 3px 0;
    background: transparent !important;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a strong {
    color: #ddd;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li a {
    line-height: inherit;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:before {
    font-size: 14px;
    color: #ddd;
    height: 32px;
    line-height: 32px;
    width: 30px;
    background: #666;
    text-align: center;
    cursor: pointer;
    border: 1px solid #6a6d71;
    padding: 0 !important;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:hover:before {
    color: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active {
    background: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu {
    background: #666;
    font-size: 14px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu:before {
    color: #ddd;
    line-height: 31px;
  }
  header.navbar-compact {
    display: none;
  }
  header .horizontal ul.megamenu > li > .sub-menu {
    border: none;
  }
  ul.megamenu li.active .sub-menu .content {
    padding: 0 10px;
  }
  iframe #wrapper {
    overflow-x: auto;
  }
  .zoomContainer {
    display: none;
  }
  .simple_blog-article .product-filter.filters-panel {
    display: none;
  }
  header #sosearchpro .dropdown-menu {
    right: 0 !important;
    left: inherit !important;
  }
  .our-member .respl-item .w-image-box {
    float: none;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }
  .our-member .respl-item .info-member {
    text-align: center;
    margin: 0;
  }
  .our-member .respl-item .info-member li {
    float: none;
    display: inline-block;
  }
  .module.so-latest-blog.slider-post-sidebar .so-blog-external .blog-external .media .so-block.media-left {
    margin-right: 20px;
  }
  .account-wishlist .table-responsive .btn-danger {
    margin-top: 5px;
  }
  .so-onepagecheckout .coupon-voucher .panel-body {
    width: 100%;
  }
  .so-onepagecheckout .coupon-voucher .input-group {
    margin-bottom: 10px;
  }
  .so-onepagecheckout .coupon-voucher .input-group .input-group-btn {
    margin-left: 10px;
    width: auto;
  }
  .so-onepagecheckout .table-responsive .btn-danger {
    margin-top: 0;
  }
  .hidden-scorll {
    overflow: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* ***********************************************************************************************
   BLOCK HEADER  
   *************************************************************************************************/
  /*[] HEADER 1 []*/
  /*[] HEADER 1 []*/
  /************************************************************************************************
   BLOCK HOME PAGE  
   *************************************************************************************************/
  /*[] LAYOUT 1 []*/
  /* ***********************************************************************************************
   BLOCK FOOTER  
   ************************************************************************************************ */
  /*[] FOOTER 1 []*/
  /************************************************************************************************
   MEGAMENU 
   *************************************************************************************************/
  /*.horizontal ul.megamenu > li > .sub-menu{
   #{$right}: 0;
   #{$left}: auto;
   }*/
  /************************************************************************************************
   PAGE LISTING  
   *************************************************************************************************/
  /************************************************************************************************
   PAGE DETAIL  
   *************************************************************************************************/
  /*==============*/
  .common-home .container {
    overflow: visible;
  }
  #content, header {
    /*.container-megamenu.horizontal ul.megamenu > li{
     .sub-menu{
     width: 650px !important;
     .content{
     width: 650px !important;
     }
     }
     &.style-page{
     .sub-menu{
     width: auto !important;
     .content{
     width: auto !important;
     }
     }
     }
     &.full-width,
     &.item-style1,
     &.item-style2{
     .sub-menu{
     #{$right}: 90px !important;
     .content{
     }
     }
     }
     }
     .container-megamenu ul.megamenu li .sub-menu {
     .content{
     .item-layouts{
     div{
     min-height: 140px;
     line-height: 18px;
     }
     }
     }
     }*/
  }
  #content ul.megamenu > li.menu-layouts > .sub-menu, header ul.megamenu > li.menu-layouts > .sub-menu, #content ul.megamenu > li.menu-features > .sub-menu, header ul.megamenu > li.menu-features > .sub-menu, #content ul.megamenu > li.style-page > .sub-menu, header ul.megamenu > li.style-page > .sub-menu {
    right: auto;
  }
  header.typeheader-1 .container-megamenu.horizontal ul.megamenu > li.special-2, header.typeheader-1 .container-megamenu.horizontal ul.megamenu > li.special-offer {
    display: none;
  }
  header.typeheader-1 #sosearchpro .search input {
    width: 400px;
    line-height: 24px;
  }
  header.typeheader-1 .shopping_cart {
    margin-right: 35px;
  }
  #content #so-groups {
    display: none;
  }
  .common-home.layout-1 .custom-slider {
    padding: 0 15px;
  }
  .common-home.layout-1 .module.sohomepage-slider {
    float: none;
    margin: 0 auto;
  }
  .common-home.layout-1 .module.sohomepage-slider .so-homeslider img {
    width: 100%;
  }
  .common-home.layout-1 .block-policy .item-1, .common-home.layout-1 .block-policy .item-2 {
    margin-bottom: 10px;
  }
  .common-home.layout-1 .deals-custom1 .so-deal .extraslider-inner .item .item-left {
    width: 130px;
  }
  .common-home.layout-1 .deals-custom1 .so-deal .extraslider-inner .item .item-left .image a.img-link {
    padding: 25px 0;
  }
  .common-home.layout-1 .deals-custom1 .so-deal .extraslider-inner .item .item-right {
    margin-left: 145px;
    padding-top: 10px;
  }
  .common-home.layout-1 .deals-custom1 .so-deal .extraslider-inner .item .button-group {
    /*.addToCart{
     float: $left;
     padding: 0;
     i{
     padding: 0;
     }
     }*/
  }
  .common-home.layout-1 .deals-custom1 .so-deal .extraslider-inner .item .button-group .btn-button {
    visibility: visible;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
  }
  .common-home.layout-1 .so-deal .extraslider-inner .item-time-w .item-timer .time-item {
    margin: 0 2px;
  }
  .common-home.layout-1 .product-simple .modtitle2, .common-home.layout-1 .deals-sidebar .modtitle2 {
    font-size: 13px;
  }
  .common-home.layout-1 .product-simple .so-extraslider {
    padding: 10px;
  }
  .common-home.layout-1 .product-simple .so-extraslider .extraslider-inner .item .item-inner .item-info {
    margin-left: 80px;
  }
  .common-home.layout-1 .product-simple .so-extraslider .extraslider-inner .item .item-inner {
    margin-bottom: 10px;
  }
  .common-home.layout-1 .banner2 {
    margin-top: 30px;
  }
  footer.typefooter-1 .box-footer {
    margin-bottom: 20px;
  }
  footer.typefooter-1 .footer-middle {
    margin-top: 20px;
  }
  #wrapper {
    overflow-x: hidden;
  }
  .content-aside .product-simple .modcontent {
    padding: 10px;
  }
  .content-aside .product-simple .modcontent .so-extraslider .extraslider-inner .item .item-inner .item-image {
    width: 80px;
  }
  .content-aside .product-simple .modcontent .so-extraslider .extraslider-inner .item .item-inner .item-info {
    margin-right: 85px;
  }
  .content-aside .module h3.modtitle span {
    font-size: 17px;
  }
  .product-view .content-product-right .share .socials-wrap ul li {
    margin-left: 25px;
  }
  .upsell-sidebar.product-simple .so-extraslider .extraslider-inner .item .item-inner .item-image {
    width: 80px;
  }
  .upsell-sidebar.product-simple .so-extraslider .extraslider-inner .item .item-inner .item-info {
    margin-left: 95px;
  }
  .upsell-sidebar.product-simple .so-extraslider .extraslider-inner .item .item-inner .item-info .price .price-old {
    padding: 0;
    font-size: 12px;
  }
  .upsell-sidebar h3.modtitle {
    padding-left: 5px;
  }
  .upsell-sidebar .so-extraslider .owl2-controls .owl2-nav {
    right: 5px;
  }
  .so-onepagecheckout .coupon-voucher .panel-body {
    width: 100%;
  }
  .so-onepagecheckout .coupon-voucher .input-group {
    margin-bottom: 10px;
  }
  .so-onepagecheckout .coupon-voucher .input-group .input-group-btn {
    margin-left: 10px;
    width: auto;
  }
  .so-onepagecheckout .table-responsive .btn-danger {
    margin-top: 0;
  }
  .so-onepagecheckout .checkout-cart td.quantity .input-group input {
    float: none;
    margin: 0 auto 5px;
  }
  .so-onepagecheckout .checkout-cart .input-group-btn {
    min-width: 50px;
    margin-top: 5px;
  }
  .blog-listitem.list .blog-item {
    width: 100%;
  }
  .hidden-scorll {
    overflow: auto;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
    overflow: visible;
    padding-left: 15px;
    padding-right: 15px;
  }
  .layout-1.common-home .vertical .vertical-wrapper {
    display: block !important;
  }
}
